@font-face {
    font-family: "D2Coding";
    src: url("/assets/fonts/D2Coding-Ver1.3.2-20180524.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumGothicCoding";
    src: url("/assets/fonts/NanumGothicCoding.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jetbrains Mono NF";
    src: url("/assets/fonts/JetBrainsMonoRegularNerdFontCompleteMono.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KoPubWorld Batang";
    src: url("/assets/fonts/KoPubWorldBatangMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KoPubWorld Dotum";
    src: url("/assets/fonts/KoPubWorldDotumMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}