/* ==========================================================================
   FONTS
   ========================================================================== */

@font-face {
    font-family: "D2Coding";
    src: url("/assets/fonts/D2Coding.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KoPubWord Batang Meduim";
    src: url('/assets/fonts/KoPubWorld\ Batang\ Medium.ttf') format('truetype');
}

@font-face {
    font-family: "KoPubWord Dotum Meduim";
    src: url('/assets/fonts/KoPubWorld\ Dotum\ Medium.ttf') format('truetype');
}